<configuration>
    <fonts>
        <font 
              metrics-file="src/documentation/fonts/kochi-mincho.ttf.xml" 
              embed-file="src/documentation/fonts/kochi-mincho.ttf" 
              kerning="yes">
            <font-triplet 
                          name="KochiMincho" style="normal" weight="normal"/>
            <font-triplet 
                          name="KochiMincho" style="normal" weight="bold"/>
            <font-triplet 
                          name="KochiMincho" style="italic" weight="normal"/>
        </font>
    </fonts>
</configuration>
